/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url("img.jpg");
    background-size: contain;

}

.player {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
.search-bar :hover{
    font-size: 0.8rem;
}

.playlist {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.playlist ul {
    list-style: none;
    padding: 0;
}

.playlist li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.controls input[type="range"] {
    width: 100px;
}
